/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #ffffff; 
    --black: #000000; 
    --babyblue: #B4D0E7; 
    --electricblue: #0061FF; 
    --pastelgreen: #A2D39B; 
    --burgundy: #61082B;
    --skyblue: #0093CE; 
    --brightred: #FF1C1C;
    --lightgrey: #F5F5F5; 
    --darkred: #D5001F;
    --darkblue: #0D2481; 
    --sunglow: #FFD830; 
}

.flex {
    display: flex;
    align-items: center;
}

.row {
    flex-flow: row;
}

.column {
    flex-flow: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}  

.start {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.align-items-start {
    align-items: flex-start;
}


/* Style header  */

header {
    color: var(--black);
}

nav {
    width: 100%;
    background-color: var(--white); 
    height: 80px;
    position: fixed;
    z-index: 1000;
}

li {
    list-style: none;
    margin-left: 35px;
}

a {
    text-decoration: none;
    color: var(--white);
}

li a {
    color: var(--black);
}

.hero {
    width: 100%;
    background-color: var(--babyblue);
    padding-top: 80px;
}

nav img {
    margin-left: 15px;
}

button {
    font-size: 16px;
    margin-left: 25px;
    margin-right: 20px;
    background-color: var(--electricblue);
    border-style: none;
    padding: 8px 15px;
}

.content-box {
    width: 65%;
    margin: 0 auto;
    padding-top: 90px;
}

h1 {
    font-size: 75px;
    font-weight: 900;
}

.width-30percent {
    width: 30%;
    padding-top: 50px;
    line-height: 1.5;
}

.width-30percent button {
    margin: 30px 0;
    padding: 12px 15px;
}

.fa-solid.fa-arrow-down {
    font-size: 50px;
    margin-top: 60px;
    padding-bottom: 20px;
}

a .fa-solid.fa-arrow-down {
    color: var(--black)
}

.width-70percent {
    width: 70%;
}

.width-70percent img {
    width: 100%;
    padding-top: 50px;
}