/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #ffffff; 
    --black: #000000; 
    --babyblue: #B4D0E7; 
    --electricblue: #0061FF; 
    --pastelgreen: #A2D39B; 
    --burgundy: #61082B;
    --skyblue: #0093CE; 
    --brightred: #FF1C1C;
    --lightgrey: #F5F5F5; 
    --darkred: #D5001F;
    --darkblue: #0D2481; 
    --sunglow: #FFD830;
    --border-grey: #D0D0D3;
    --violet: #4953F2;   
}

.flex {
    display: flex;
    align-items: center;
}

.row {
    flex-flow: row;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-flow: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}  

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-stretch {
    align-items: stretch;
}

/* Style header  */

header {
    color: var(--black);
}

nav {
    width: 100%;
    background-color: var(--white); 
    height: 80px;
    position: fixed;
    z-index: 1000;
}

li {
    list-style: none;
    margin-left: 35px;
}

a {
    text-decoration: none;
    color: var(--white);
}

li a {
    color: var(--black);
}

.hero {
    width: 100%;
    background-color: var(--babyblue);
    padding-top: 80px;
}

nav img {
    margin-left: 15px;
}

button {
    display: block;
    font-size: 16px;
    margin-left: 25px;
    margin-right: 20px;
    background-color: var(--electricblue);
    border-style: none;
    padding: 8px 15px;
}

.content-box {
    width: 65%;
    margin: 0 auto;
    padding-top: 90px;
    position: relative;
}

h1 {
    font-size: 75px;
    font-weight: 900;
}

.width-30percent {
    width: 30%;
    padding-top: 50px;
    line-height: 1.5;
}

.width-30percent button {
    margin: 30px 0;
    padding: 12px 15px;
}

.fa-solid.fa-arrow-down {
    font-size: 50px;
    margin-top: 60px;
    padding-bottom: 20px;
}

a .fa-solid.fa-arrow-down {
    color: var(--black)
}

.width-70percent {
    width: 70%; 
    position: absolute;
    left: 30%;
    bottom: -25px;
}

.width-70percent img {
    width: 100%;
    padding-top: 50px;
}

/* Style Main */

/* Style FIRST SECTION */

.main-container {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 90px;
}

h2 {
    font-size: 40px;
}

.fatturazione{
    padding-top: 50px;
    padding-bottom: 45px;   
}

.fatturazione span {
    margin-right: 25px;
}

.selector {
    margin-right: 5px;
}

.offer-card {
    border: 1px solid var(--border-grey);
    width: calc(100% / 3);
}

.margins {
    margin: 0 60px;
}

.offer-type {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-grey);
}

.horizontal-offer-card i, .offer-card i {
    margin-right: 10px;
}  

.offer-content {
    padding: 20px 25px;
    font-size: 14px;
}

h3 {
    font-size: 22px;
    padding-bottom: 15px;
}


.price {
    font-size: 14px;
    line-height: 2;
    padding-bottom: 5px;
}

.offer-details{
    padding-top: 20px;
    margin-bottom: 50px;
}

.horizontal-offer-card button, .offer-card button {
    width: 90%;
    text-align: center;
    font-size: 14px;
    padding: 12px 20px;
    margin-bottom: 40px;
    margin-left: 5px;
}

.call-to-action {
    color: var(--violet);
    text-decoration: underline;
}

hr {
    width: 15%;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.fa-solid.fa-check {
    color: var(--electricblue);
}

.main-features .offer-content span {
    display: block;
}    

.list-icon {
    text-indent: -1.2em;
}

.horizontal-offer-card {
    width: 100%;
    border: 1px solid var(--border-grey);
    margin-top: 40px;
    height: 250px;
}

.first-section-w70percent {
    width: 70%;
    text-align: left;
    padding-top: 15px;
    line-height: 1.5;
}

.first-section-w30percent {
    width: 30%;
    padding-top: 15px;
    position: relative;
    left: 71%;
    bottom: 150px;
}

/* Style SECOND SECTION */

.second-section {
    margin-top: 150px;
}

.second-section-w60percent {
    width: 60%;
}

.second-section-w60percent img {
    width: 100%;
}

.second-section-w40percent {
    width: 40%;
    position: relative;
    left: 60%;
    bottom: 430px;
    padding-left: 50px;
    line-height: 1.5;
}

.second-section-w40percent button {
    background-color: var(--white);
    border: 1px solid black;
    margin-left: -1px;
    margin-top: 25px;
}

.second-section-w40percent button a {
    color: var(--black);
}

/* Style THIRD SECTION */

.third-section {
    margin-top: -150px;
}

.card {
    width: calc((100% - 120px) / 3);
    margin-top: 60px;
    line-height: 1.5;
}

.card img {
    width: 100%;
}

/* Style FOURTH SECTION */

.fourth-section {
    margin-top: 150px;
}

.fourth-section a {
    color: var(--violet);
    text-decoration: underline; 
}


/* Style FIFTH SECTION */

.fifth-section {
    margin-top: 120px;
}

.big-square {
    width: 33%;
}

.little-square {
    width: 50%;
    height: 300px;
    text-align: center;    
}

.grey-square {
    background-color: var(--lightgrey);
    width: 645px;
    height: 600px;
    overflow-y: auto;
}

.grey-square.content {
    padding: 60px 50px;
    line-height: 1.5;
}

.grey-square img {
    height: 100px;
    padding-bottom: 20px;
}

.little-square svg {
    width: 50%;
}

.grey-square p {
    padding-top: 30px;
}

.grey-square hr {
    margin-left: 2px;
}

.logo-brand {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.uno {
    background-color: var(--pastelgreen);
}

.due {
    background-color: var(--burgundy);
}

.tre {
    background-color: var(--skyblue);
}

.quattro {
    background-color: var(--brightred);
}

.cinque {
    background-color: var(--darkred);
}

.sei {
    background-color: var(--babyblue);
}

.sette {
    background-color: var(--darkblue);
}

.otto {
    background-color: var(--sunglow);
}